.widget_polylang {
  @apply text-base;
  @apply mb-4;
  @apply relative;
  @apply bg-black;
  @apply text-white;
  @apply rounded-full;
  @apply inline-flex;
  @apply shadow-default;

  &:hover {
    opacity: 0.8;

    label {
      &::before {
        content: fa-content($fa-var-chevron-up);
      }
    }
  }

  label {
    @apply absolute;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply h-full;
    @apply text-transparent;

    z-index: 1;

    @extend %fa-icon;
    @extend .fas;

    &::before {
      content: fa-content($fa-var-chevron-down);
      z-index: 1;

      @apply absolute;
      @apply right-0;
      @apply mx-4;
      @apply text-white;
    }
  }

  > select {
    z-index: 2;
    @apply font-sans;
    @apply py-2;
    @apply pr-12;
    @apply pl-6;
    @apply appearance-none;
    @apply outline-none;
    @apply bg-transparent;
    @apply cursor-pointer;
    @apply w-full;
    @apply rounded-full #{'!important'};

    &:focus {
      outline: none;
      @apply shadow-focus;
    }

    option {
      @apply bg-gray-900;
    }
  }
}
