.pagination {
  @apply fixed;
  @apply right-0;
  @apply mr-4;
  @apply z-2;
  @apply text-white;
  @apply text-base;
  @apply font-sans;

  top: 50vh;

  li {
    @apply bg-black;
    @apply rounded-full;
    @apply shadow-default;
    //@apply p-1;
    @apply ml-2;
    @apply block;
    @apply text-center;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply w-10;
    @apply h-10;

    a {
      &.inactive {
        opacity: 1;
      }
    }

    span {
      &.current {
        opacity: 0.5;
      }
    }
  }
}
