p {
  @apply mb-4;
  @apply leading-loose;
  @apply tracking-normal;

  @apply text-sm;
  // 17px
  @apply lg:text-base;
  @apply xl:text-lg;

  hyphens: auto;
  word-break: break-word;

  @screen md {
    hyphens: none;
    word-break: keep-all;
  }

  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    @apply mt-8;
  }


  strong,
  b {
    @apply font-display;
  }

  a {
    @apply underline;
  }

  &.is-style {
    &--bodytext-big {
      @apply tracking-normal;
      @apply leading-loose;
      @apply font-display;
      @apply font-bold;

      @apply text-base;

      @apply lg:leading-relaxed;
      @apply lg:text-lg;
      @apply xl:text-xl;

      @apply mb-14;

      &-loose {
        @apply tracking-normal;
        @apply leading-loose;
        @apply font-display;
        @apply font-bold;

        @apply text-base;

        @apply lg:leading-relaxed;
        @apply lg:text-lg;
        @apply xl:text-xl;

        @apply mb-14;
        @apply leading-loose;
      }
    }

    &--bodytext-comment {
      @apply text-sm;
      @apply lg:text-sm;
      @apply xl:text-lg;

      @apply font-sans;

      strong,
      b {
        @apply font-sans;
      }
    }

    &--footnote {
      @apply text-xxs;
      @apply lg:text-xs;
      @apply xl:text-base;

      @apply font-sans;

      strong,
      b {
        @apply font-sans;
      }
    }

    &--caption {
      @apply text-xxs;
      @apply lg:text-xs;
      @apply xl:text-base;
      @apply leading-relaxed;

      @apply font-sans;

      strong,
      b {
        @apply font-sans;
      }
    }
  }
}

.components-panel__body p,
.edit-post-layout__metaboxes p {
  font-size: 13px;
}

html {
  &[lang="el"] {
    p {
      strong,
      b {
        @apply font-el;
      }

      &.is-style {
        &--bodytext-big {
          @apply font-el;
          &-loose {
            @apply font-el;
          }
        }
      }

    }
  }
}
