blockquote {
  @apply mb-4;
  @apply pl-24;
  @apply leading-loose;
  @apply tracking-wide;

  &.wp-block-quote {
    p {
      @apply mb-4;
    }

    cite {
      @apply text-xs;
      @apply font-sans;
      @apply not-italic;
    }
  }
}
