/**
 * Editor
 */

@import "variables";

@tailwind base;

@tailwind components;

@import "../../views/components/fonts/fonts";

h1,
h2,
h3,
h4,
h5,
h6 {
  &.wp-block {
    @apply font-display;
    @apply mb-4;
  }
}

.wp-block {
  @apply font-serif;
  @apply leading-loose;
  @apply tracking-wide;

  //noinspection CssInvalidFunction
  max-width: theme("screens.lg");

  @apply border border-dashed border-gray-400;

  label + textarea {
    &:first-of-type {
      @apply font-display;
      @apply text-5xl;
      @apply leading-none;
    }
  }
}

h1 {
  &.wp-block {
    @apply text-4xl;
    @apply leading-tight;

    @screen lg {
      @apply text-6xl;
    }
  }
}

h2 {
  &.wp-block {
    @apply text-2xl;
    @apply leading-none;
    @apply mb-8;

    @screen md {
      @apply text-4xl;
    }
  }
}

h3 {
  &.wp-block {
    @apply tracking-wide;
    @apply text-xl;
    @apply leading-none;
    @apply mb-8;

    @screen lg {
      @apply text-2xl;
    }
  }
}

h4 {
  &.wp-block {
    @apply tracking-wider;
    @apply text-lg;
    @apply leading-snug;
    @apply mb-8;

    @screen lg {
      @apply text-xl;
    }
  }
}

h5 {
  &.wp-block {
    @apply tracking-wide;
    @apply font-sans;
    @apply font-light;
    @apply leading-snug;
    @apply text-lg;

    @screen lg {
      @apply text-xl;
    }
  }
}

h6 {
  &.wp-block {
    @apply tracking-wider;
    @apply font-sans;
    @apply font-bold;
    @apply leading-snug;
    @apply text-sm;

    @screen lg {
      @apply text-lg;
    }
  }
}

@import "../../views/components/paragraph/paragraph";
@import "../../views/components/inline-image/inline-image";
@import "../../views/components/columns/columns";
@import "../../views/components/links/links";
@import "../../views/components/list/list";
@import "../../views/components/citations/citations";
@import "../../views/components/video-player/video-player";

a {
  text-shadow: none;
}

img {
  border: none;
}

.interface-interface-skeleton__sidebar,
.interface-interface-skeleton__sidebar p strong,
.interface-interface-skeleton__sidebar p b {
  @apply font-sans;
}
@tailwind utilities;
