$basicLightbox__background: rgba(0, 0, 0, 0.8); //Background color
$basicLightbox__background: radial-gradient(circle, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0.85) 100%);

$basicLightbox__zIndex: 1000; // Stack order
$basicLightbox__duration: 0.4s; // Transition duration
$basicLightbox__timing: ease; // Transition timing

$fa-font-path: "../fonts";
$menuHeight: 48px; //todo: make independent
