nav.posts-navigation {
  @apply mb-8;

  h2 {
    @apply hidden;
    @apply text-base;
    @apply mb-2;
  }

  .nav-links {
    @apply flex;

    .nav-previous,
    .nav-next,{
      @apply flex-auto;

      a {
        @apply underline;
        @apply font-display;
      }
    }

    .nav-next {
      @apply flex;
      @apply justify-end;
    }

  }

}
