.cli-modal-dialog {
  @apply font-sans;

  .cli-tab-content p,
  .cli-tab-container p,
  .cli-privacy-content-text {
    @apply text-xs;
    @apply font-sans;
  }
}

#cookie-law-info-bar {
  @apply font-sans;
  @apply p-3 #{'!important'};

  .cli-plugin-button,
  .cli-plugin-main-button,
  .cookie_action_close_header,
  .cli_action_button {
    @apply bg-black #{'!important'};
    @apply text-white #{'!important'};

    @apply font-sans;
    @apply shadow-default;
    @apply inline-block;
    @apply align-middle;
    @apply text-center;
    @apply select-none;
    @apply font-normal;
    @apply whitespace-nowrap;
    @apply px-4;
    @apply leading-normal;
    @apply no-underline;
    @apply h-12;
    @apply m-0;
    @apply flex #{'!important'};
    @apply items-center;

    text-shadow: none;

    &:focus {
      @apply shadow-focus;
    }
  }
}

#cookie-law-info-again {
  @apply hidden #{'!important'};
  @apply font-sans;
  @apply right-0 #{'!important'};
  @apply shadow-default;
  @apply bg-black #{'!important'};
  @apply text-white #{'!important'};
  @apply flex;
  @apply items-center;
  @apply p-4;
  @apply pb-2;
  @apply pt-3;
}
