.quiz-area {
  .watupro_num {
    display: none !important;
  }

  img {
    height: auto !important;
    max-width: 12rem;
    @apply mb-4;
    @apply shadow-none;
    @apply w-1/3;
    @apply mx-auto;
  }

  .watupro-paginator-wrap {
    .watupro-paginator {
      @apply justify-start;

      li {
        background: transparent;
        @apply bg-black;
        @apply text-white;
        @apply border-0;
        @apply rounded-full;
        @apply shadow-default;
        @apply font-sans;
        @apply font-normal;
        @apply text-base;
        @apply mr-2;

        &.active {
          @apply bg-white;
          @apply text-black;
        }
      }
    }
  }

  .watupro-choices-columns {
    &.show-question {
      ul {
        li {
          &.answer {
            &.correct-answer {
              span {
                background: none;
                @apply font-display;
                @apply leading-relaxed;
                @extend %fa-icon;
                @extend .fas;

                &::after {
                  content: fa-content($fa-var-check);
                  @apply font-icons;
                  @apply ml-2;
                  @apply text-green;
                }
              }
            }

            &.user-answer {
              @apply text-black;

              span {
                &.answer {
                  background: none;
                  @apply font-display;
                  @apply leading-relaxed;
                  @apply text-red;
                  @extend %fa-icon;
                  @extend .fas;

                  &::after {
                    content: fa-content($fa-var-times);
                    @apply font-icons;
                    @apply ml-2;
                  }
                }
              }

              &.correct-answer {
                @apply text-black;

                span {
                  background: none;
                  @apply font-display;
                  @apply leading-relaxed;
                  @apply text-green;
                  @extend %fa-icon;
                  @extend .fas;

                  &::after {
                    content: fa-content($fa-var-check);
                    @apply font-icons;
                    @apply ml-2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .watupro-question-choice {
    @apply mb-4 #{'!important'};

    input {
      &[type="radio"] {
        @apply appearance-none;

        &:hover {
          opacity: 0.8;
        }

        &:focus,
        &:checked {
          ~ label {
            &::after {
              @apply bg-black;
            }
          }
        }
      }
    }

    label {
      @apply ml-8;
      @apply relative;

      max-width: 80%;

      &::before {
        content: '';
        @apply w-8;
        @apply h-8;
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply border-2;
        @apply border-black;
        @apply rounded-full;
        @apply -ml-12;
        @apply -mt-1;

        transition: all 0.2s ease;
      }

      &::after {
        content: '';
        @apply absolute;
        @apply top-2;
        @apply left-2;
        @apply w-4;
        @apply h-4;
        @apply rounded-full;
        @apply bg-transparent;
        @apply -ml-12;
        @apply -mt-1;

        transition: all 0.2s ease;
      }

      &:hover {
        @apply text-black;

        opacity: 0.8;

        &::after {
          @apply bg-black;

          opacity: 0.8;
        }
      }
    }
  }

  .watupro-qnum-info {
    @apply text-xl;

    &:last-of-type {
      @apply hidden;
    }
  }

  .watupro-progress-bar {
    background: none;

    @apply p-1;
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply z-10;
    @apply h-1;
    @apply rounded-none;
    @apply bg-red;
    @apply p-0;
  }

  .watupro-progress-percent {
    @apply font-sans;
    @apply font-normal;
    @apply inline-block;
    @apply bg-transparent;
    @apply p-0;
    @apply relative;
    @apply rounded-none;
    @apply bg-black;
    @apply text-white;
    @apply text-xxs;
    @apply top-0;
    @apply px-0.5;
  }

  .watupro_buttons {
    &.flex {
      @apply items-start;
      @apply justify-start;
      @apply cursor-pointer;
    }
  }

  #watuproNextCatButton {
    @apply m-0;
  }

  input {
    &[type="button"] {
      @apply h-12;
      @apply inline-flex;
      @apply items-center;
      @apply bg-black;
      @apply text-gray-400;
      @apply shadow-default;
      @apply text-gray-400;
      @apply font-sans;
      @apply text-base;
      @apply px-6;
      @apply py-3;
      @apply rounded-full;
      @apply no-underline;
      @apply cursor-pointer;

      appearance: none;

      &[disabled="true"] {
        @apply cursor-not-allowed;
        @apply bg-gray-300;
        @apply text-white;
      }

      &:hover {
        outline: none;
        @apply text-white;
      }
    }

    &.watupro-live-button,
    &.watupro-live-result-btn {
      @apply bg-transparent;
      @apply font-display;
      @apply underline;
      @apply h-auto;
      @apply shadow-none;
      @apply text-black;
      @apply p-0;
      @apply rounded-none;

      &:hover {
        opacity: 0.8;
        @apply text-black;
      }
    }
  }
}
