.navigation {
  &__sidebar {
    /* no sidebar title */
    h3 {
      display: none;
    }

    > section {
      @apply leading-normal;
      @apply text-sxl;
      @apply flex-1;

      @screen md {
        @apply text-base;
      }
    }

    > footer {
      @apply flex-none;
      @apply text-lg;
    }

    transition: transform 0.25s ease-in;
    max-width: 80vw;
    width: 80vw;
    background-color: white;
    transform: translateX(-100%);

    @screen md {
      transform: none;
      width: auto;
      background-color: transparent;
      border: none;
    }
  }

  &__label {
    &::after {
      content: "";
      z-index: 2;
      left: 0;
      position: fixed;
      width: 100%;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      height: 100%;
      display: none;
    }
  }

  &__input {
    &:checked {
      ~ .navigation__sidebar {
        display: flex;
        transform: translateX(0);
      }

      ~ nav {
        .navigation__label {
          &::after {
            display: block;
            backdrop-filter: blur(39px);
          }
        }
      }
    }
  }

  .menu {
    top: 80px;

    @screen md {
      top: 120px;
    }

    @apply w-full;
    @apply absolute;
    @apply font-display;
    @apply font-black;
    @apply flex;
    @apply flex-col;

    @screen md {
      @apply text-lg;

      background-color: transparent;
      border: none;
    }

    @screen lg {
      @apply text-sxl;
    }

    &-item {
      white-space: nowrap;

      @screen lg {
        max-width: 90%;
      }
      @screen xl {
        max-width: none;
      }

      overflow: hidden;
      text-overflow: ellipsis;

      a {
        @apply no-underline;
      }

      &.current_page_item,
      &.current-menu-item {
        a {
          @apply underline;
        }
      }

      &.current-menu-ancestor {
        a {
          @apply underline;
        }
      }

      &-has-children {
        > ul {
          @apply ml-2;

          .menu-item-type-taxonomy {
            a {
              @apply no-underline;
            }
          }

          .current-menu-item {
            &.menu-item-object-category {
              a {
                @apply underline;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .menu {
      @apply top-0;
      @apply relative;
      @apply text-base;

      @screen md {
        @apply text-base;
      }
    }
  }
}

body {
  &.post-type-archive-material,
  &.archive.category:not(.category-blog) {
    .menu {
      .menu-item {
        a[href*="material"] {
          @apply underline;
        }
      }
    }
  }

  &.category-blog {
    .menu {
      .menu-item {
        a[href*="blog"] {
          @apply underline;
        }
      }
    }
  }

  &.home {
    main {
      > div {
        background-color: theme('colors.rose'); /* stylelint-disable-line */
      }
    }
  }
}


html {
  &[lang="el"] {
    .navigation {
      .menu {
        @apply font-el;
      }
    }
  }
}
