/** Search form */
.search-form {
  @apply flex;
  @apply items-center;

  .screen-reader-text {
    @apply hidden;
  }

  label {
    @apply mr-2;
  }

  .search-field {
    @apply block;
    @apply appearance-none;
    @apply w-full;
    @apply py-1;
    @apply px-2;
    @apply mb-1;
    @apply leading-normal;
    @apply border;
    @apply h-12;
    @apply m-0;

    &:focus {
      outline: 1px solid theme('colors.yellow');
    }
  }

  .button {
    @apply bg-black;
    @apply text-white;

    @apply shadow-default;
    @apply appearance-none;
    @apply inline-block;
    @apply align-middle;
    @apply text-center;
    @apply select-none;
    @apply font-normal;
    @apply whitespace-nowrap;
    @apply px-4;
    @apply py-2;
    @apply leading-normal;
    @apply no-underline;
    @apply h-11;

    text-shadow: none;

    &:focus {
      outline: 1px solid theme('colors.yellow');
    }
  }
}
