/*
body {
  &.letters {
    article {
      background-image: url("../images/RSLXMRGSignature.svg");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 300px auto;
    }
  }
}
*/
