.acf-block-component {
  .bg-black {
    @apply bg-white;
  }

  .is-type-video {
    &.is-type-translated-video {
      &::before {
        content: "RSLXMBRG Translated-Youtube-Video: → Click to edit Video-ID.";
        @apply font-sans;
        @apply font-bold;
        @apply text-gray-600;
      }
    }

    iframe {
      pointer-events: none;
    }
  }
}
