$custom-post-cols__horizontalTabHeight: 2.5rem;

.custom-post-cols {
  counter-reset: section;
  height: 100vh;

  &__label {
    @apply h-full;
    @apply w-full;
    @apply outline-none;

    cursor: pointer;
    z-index: 2;
  }

  &__content {
    //transition: opacity 0.5s 0.25s ease-in-out;
  }

  &__section {
    max-height: calc((100vh / 5)); // - (#{$menuHeight} / 5)

    /* work-around to animate height auto  */
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1) -0.1s;
    overflow: hidden;

    @screen md {
      overflow: hidden;
      transition: all 0.45s ease-in, opacity 0.25s ease-in-out, height 0s linear;
      min-height: auto;
      max-height: none;
      height: 100vh;
      flex: 1 0 2.5rem;
      top: auto;
      position: relative;
    }

    &:hover {
      opacity: 0.8;
    }

    &.is-active {
      transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
      transition-delay: 0s;
      max-height: 100000px;

      &:hover {
        opacity: 1;
        cursor: auto;
      }

      @screen md {
        flex-basis: 100%;
        flex-shrink: 1;
        max-height: none;
      }

      .custom-post-cols__label {
        @apply w-full;
        @apply h-8;

        @screen md {
          @apply w-8;
          @apply h-full;
        }
      }

      .custom-post-cols__container {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }

      .custom-post-cols__content {
        opacity: 1;
      }
    }
  }

  &__counter {
    &::before {
      counter-increment: section;
      content: counter(section, decimal-leading-zero);

      @apply font-sans;
      @apply text-base;
    }
  }

  &__container {
    overflow: hidden;

    &::-webkit-scrollbar {
      width: 0.75rem;
      height: 0.75rem;
      background-color: #aaa;
    }

    &::-webkit-scrollbar-thumb {
      background: #000;
    }

    scrollbar-color: #414141 black; /* stylelint-disable-line */
    scrollbar-width: auto; /* stylelint-disable-line */
  }

  &__headline {
    margin: 0;
  }
}
