// this is a visual styleguide for the customer page
// do not add component styles here …

body {
  &.page-template-template-styleguide {
    mark {
      @apply bg-red;
    }

    .container {
      max-width: none;
      margin-bottom: 20vh;

      @apply grid grid-cols-10 gap-y-2;

      > * {
        @apply col-span-10;
        @apply col-start-1;

        @screen lg {
          @apply col-span-7;
          @apply col-start-3;
        }
      }
    }

    main {
      &.main {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @apply relative mb-8;
        }

        h3 {
          @apply my-8;
        }

        hr {
          @apply border border-black;
          @apply mt-16;
          @apply mb-8;
        }

        fieldset {
          @apply mb-30;
        }

        p,
        blockquote,
        fieldset {
          @apply relative;

          &.mb-14 {
            &::after {
              @apply h-14;
            }
          }
        }
      }
    }
  }

  //
  .menu-item a[href*="styleguide"] {
    @apply text-base;
    @apply my-8;
    @apply block;
  }
}
