html {
  font-size: 16px;
  scrollbar-color: theme('colors.smoke') black; /* stylelint-disable-line */
  scrollbar-width: auto; /* stylelint-disable-line */

  &[lang=el] {
    //@apply font-el;
  }
}

html,
body {
  min-height: 100%;
  background-color: theme("colors.smoke");
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  @apply font-serif;
  @apply text-base;

  &.post-type-archive-positions {
    @screen lg {
      overflow-y: hidden;
    }
  }

  &::-webkit-scrollbar {
    @apply w-2;
    @apply h-2;
    @apply bg-gray-300;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-black;
  }

  -webkit-tap-highlight-color: theme("colors.yellow");
}
