.button {
  @apply h-12;
  @apply inline-flex;
  @apply items-center;
  @apply bg-black;
  @apply shadow-default;
  @apply text-gray-400;
  @apply font-sans;
  @apply text-base;
  @apply px-6;
  @apply py-3;
  @apply rounded-full;
  @apply no-underline;
}

a {
  &.button {
    text-shadow: none;

    &:hover,
    &:focus {
      @apply opacity-100;
      @apply text-white;
    }
  }

  &.is-active {
    @apply text-white;
    @apply bg-blue;
  }
}
