@keyframes wiggleInImage {
  from {
    opacity: 0;
    transform: translateY(25%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

img,
figure {
  &.wp-block-image {
    animation-name: wiggleInImage;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

figure {
  &[class*="is-style--"] {
    img {
      &[loading="lazy"] {
        background-color: theme('colors.gray.200');
        background-image: url('../images/loading.gif');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}
