figure {
  @apply font-sans;
  @apply text-xs;

  &.wp-block-image {
    &.is-resized,
    &[class*="is-style--"] {
      img {
        @apply w-full;
        @apply max-w-none;
      }

      figcaption {
        @apply hidden;
      }

      &:hover,
      &:focus {
        cursor: pointer;

        &::before {
          @apply text-white;
        }
      }

      transition: all 0.25s ease-in-out, opacity 0.1s ease-in;
      filter: grayscale(0);

      @apply shadow-default;

      &[aria-expanded='true'] {
        filter: grayscale(100);

        &::before {
          @apply text-white;
          @apply text-sm;

          @screen md {
            @apply text-base;
          }
        }
      }
    }
  }

  .figure-with-popover {
    &__image {
      @apply hidden;

      @screen lg {
        @apply hidden;
      }
    }

    &__figcaption {
      @apply px-2;
      @apply pr-5;
      @apply pt-2;
      @apply pb-12;
      @apply block;
      @apply font-sans;
      @apply text-xs;
      @apply text-black;
      @apply break-words;

      hyphens: auto;

      a {
        @apply underline;
      }
    }

    &__close-button {
      @apply hidden;
      @apply absolute;
      @apply right-0;
      @apply p-2;
    }

    &__scale-button {
      @apply hidden;

      @screen md {
        @apply flex;
      }

      @apply cursor-pointer;
      @apply absolute;
      @apply right-0;
      @apply bottom-0;
      @apply p-2;
      @apply text-base;
      @apply text-gray-300;

      &:hover,
      &:focus {
        @apply text-black;
      }
    }
  }
}
