.comment-list ol {
  list-style: none;
}

.comment-form p {
  @apply mb-4;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @apply block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal border rounded;

  &:focus {
    //@apply shadow-outline;
  }
}

.comment-form input[type="submit"] {
  &:hover {
    @apply border;
  }
}
