main,
.editor-styles-wrapper {
  ul {
    font-size: inherit;

    @apply list-disc;
    @apply list-inside;
    @apply mb-4;
  }

  ol {
    @apply list-decimal #{'!important'};
    @apply list-outside #{'!important'};
    @apply mb-4 #{'!important'};
    @apply pl-7 #{'!important'};

    &.is-style--footnote {
      @apply list-none #{'!important'};

      counter-reset: item;

      li {
        @apply mb-2;

        counter-increment: item;

        &.is-active {
          @apply font-bold;
        }

        &::before {
          content: counter(item) "";
          @apply inline-block;
          @apply font-bold;
          @apply w-7;
          @apply left-0;
          @apply -ml-7;
        }
      }
    }
  }

  ol,
  ul {
    &.is-style--footnote {
      @apply text-xxs;
      @apply lg:text-xs;
      @apply xl:text-base;
      @apply font-sans;

      strong,
      b {
        @apply font-sans;
      }
    }
  }
}
