body {
  &.single-decisions,
  &.post-type-archive-decisions {
    main {
      @apply bg-yellow;
      @apply px-3;
      @apply min-h-screen;
      @apply h-auto;

      div[data-component="decisions"] {
        will-change: scroll-position;
        transform: translate3d(0, 0, 0);
      }

      counter-reset: section;
      will-change: contents;

      article {
        will-change: scroll-position;
        transform: translate3d(0, 0, 0);

        header {
          h2 {
            span span {
              padding-top: calc(1ch / 7);
            }
          }
        }
      }
    }
  }
}
