.wp-block p,
p {
  img {
    @apply inline;
    @apply mx-1;
    @apply shadow-default;

    width: auto !important;
    height: 2.3ch !important;

    & + strong {
      background-color: theme("colors.gray.300");
      @apply text-base;
      @apply font-sans;
      @apply font-normal;
    }
  }
}

/* this thing is called tooltip after ist was instantiated with javascript */
.inline-image {
  &__image {
    @apply border-0;
    @apply max-w-none;
    @apply cursor-pointer #{'!important'};

    transform: translateY(-0.25ch);

    &:hover {
      opacity: 0.8;
    }

    //noinspection CssInvalidFunction
    &[aria-expanded='true'] {
      @apply shadow-focus;
    }
  }

  &__close-button {
    z-index: 2;
    transform: translateY(-50%) translateX(-50%);

    @apply text-white;
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-10;
    @apply h-10;
    @apply bg-black;
    @apply rounded-full;
    @apply flex;
    @apply items-center;
    @apply justify-center;
  }
}
