@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@mixin imageVariants($cols) {
  $gutter: 1rem;

  &.is-style--xs {
    flex-basis: calc(50% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 2);
    }
  }

  &.is-style--xs--ml {
    flex-basis: calc(50% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 2);
      margin-left: calc(100% / #{$cols});
    }
  }

  &.is-style--xs--mr {
    flex-basis: calc(50% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 2);
      margin-right: calc(100% / #{$cols});
    }
  }

  &.is-style--sm {
    flex-basis: calc(50% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 4);
    }
  }

  &.is-style--sm--mr {
    flex-basis: calc(50% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 4);
      margin-right: calc(100% / #{$cols});
    }
  }

  &.is-style--sm--ml {
    flex-basis: calc(50% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 4);
      margin-left: calc(100% / #{$cols});
    }
  }

  &.is-style--md {
    flex-basis: calc(100% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 6);
    }
  }

  &.is-style--md--mr {
    flex-basis: calc(100% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 6);
      margin-right: calc(100% / #{$cols});
    }
  }

  &.is-style--md--ml {
    flex-basis: calc(100% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 6);
      margin-left: calc(100% / #{$cols});
    }
  }

  &.is-style--lg {
    flex-basis: calc(100% - (#{$gutter} / 2));

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 8);
    }

    &--mr {
      margin-right: calc(100% / #{$cols} * 2);
    }
  }

  &.is-style--xl {
    flex-basis: 100%;

    @screen md {
      flex-basis: auto;
      width: calc(100% / #{$cols} * 10);
    }
  }
}

/*
    overwrite wordpress default breakpoints  🤔
  */
article {
  .wp-block-columns {
    .wp-block-column {
      @media (max-width: 781px) and (min-width: 600px) {
        flex-basis: 100% !important;
        flex-grow: 1 !important;
      }

      @media (min-width: 600px) and(max-width: 781px) {
        .wp-block-column:not(:only-child) {
          flex-basis: 100% !important;
          flex-grow: 1 !important;
        }
      }
    }
  }
}


.wp-block {
  &-column {
    margin-left: 0 !important;
    margin-right: 0 !important;

    @screen md {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &.is-style--flex-wrap,
    &.is-style--flex-wrap--half,
    &.is-style--flex-wrap--third, {
      @apply flex;
      @apply flex-row;
      @apply flex-wrap;
      @apply justify-between;
      @apply items-start;

      @screen md {
        @apply justify-center;
        @apply items-center;
      }

      @apply relative;

      figure {
        //margin-left: calc(100vw / 12);
        //margin-right: calc(100vw / 12);

        @screen md {
          //margin-left: 0;
          //margin-right: 0;
        }

        .components-resizable-box__container {
          width: 100% !important;
          height: auto !important;
        }

        figcaption {
          @apply m-0;
          @apply font-sans;
          @apply font-medium;
          @apply text-left;
          @apply p-4;
          @apply text-black;

          a {
            @apply underline;
          }
        }

        &.wp-block-image {
          @apply relative;
          @apply flex-initial;
          @apply flex;
          @apply flex-col;
          @apply items-center;
          @apply justify-center;
          @apply mb-8;
          @apply max-w-none;

          @extend %fa-icon;
          @extend .fas;

          &::before {
            content: fa-content($fa-var-info);
            padding-top: -1px;
            @apply leading-none;
            @apply shadow-default;
            @apply flex;
            @apply justify-center;
            @apply items-center;
            @apply absolute;
            @apply text-gray-300;
            @apply bg-black;
            @apply rounded-full;
            @apply left-0;
            @apply bottom-0;
            @apply -mb-3;
            @apply -ml-2;
            @apply w-7;
            @apply h-7;
            @apply text-xs;

            @screen md {
              @apply text-sm;
              @apply -mb-4;
              @apply -ml-4;

              @apply w-10;
              @apply h-10;
            }
          }
        }
      }
    }

    // full avail 10 cols
    &.is-style--flex-wrap {
      flex-basis: 100%;

      figure {
        &.wp-block-image {
          @include imageVariants(10);
        }
      }
    }

    // half 6 cols
    &.is-style--flex-wrap--half {
      flex-basis: 50%;
      flex-grow: 0;

      figure {
        &.wp-block-image {
          @include imageVariants(6);
        }
      }
    }

    // third 4 cols
    &.is-style--flex-wrap--third {
      flex-basis: 33.33%;
      flex-grow: 0;

      figure {
        &.wp-block-image {
          @include imageVariants(4);
        }
      }
    }
  }
}
