h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
  @apply mb-4;
}

h1,
.h1 {
  @apply font-black;
  @apply text-xl;
  @apply leading-none;

  @screen lg {
    @apply text-5xl;
  }
  @screen xl {
    @apply text-6xl;
  }
}

h2,
.h2 {
  @apply font-bold;
  @apply text-sxl;
  @apply leading-none;
  @apply mb-8;

  @screen lg {
    @apply text-2xl;
  }

  @screen xl {
    @apply text-4xl;
  }

  span {
    @apply font-normal;
  }

  sup {
    font-size: 50%;
    top: -0.75rem;
    left: 0.5rem;

    @screen lg {
      top: -1.25rem;
    }

    sup {
      top: 0;
    }
  }
}

h3,
.h3 {
  @apply tracking-wide;
  @apply text-lg;
  @apply leading-none;
  @apply mb-8;

  @screen lg {
    @apply text-xl;
  }

  @screen xl {
    @apply text-2xl;
  }
}

h4,
.h4 {
  @apply font-sans;
  @apply tracking-wider;
  @apply leading-snug;
  @apply text-base;
  @apply mb-8;

  @screen lg {
    @apply text-lg;
    @apply tracking-wide;
  }

  @screen xl {
    @apply text-xl;
  }
}

h5,
.h5 {
  @apply font-bold #{'!important'};
  @apply tracking-wider;
  @apply font-sans;
  @apply leading-snug;
  @apply text-default;

  @screen lg {
    @apply tracking-wide;
    @apply text-sm;
  }

  @screen xl {
    @apply font-light;
    @apply text-lg;
  }
}

h6,
.h6 {
  @apply tracking-wide;
  @apply font-sans;
  @apply leading-snug;
  @apply text-xs;

  @screen lg {
    @apply text-sm;
  }

  @screen xl {
    @apply text-lg;
  }

  p {
    @apply hyphens-none;
  }
}

html {
  &[lang="el"] {
    h1,
    h2 {
      @apply font-el;
    }
  }
}
