a {
  word-break: break-word;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
    text-shadow: 0.0625rem 0.0625rem 0 #fdec51, -0.0625rem -0.0625rem 0 #fdec51;
  }

  &.rounded-full {
    &:focus {
      outline: none;
      text-shadow: none;
      @apply shadow-focus;
    }
  }
}

p {
  a {
    @apply underline;
  }
}

a[rel="tag"] {
  @apply no-underline;

  text-shadow: none;
}
