.scroll-navigation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.is-visible {
    opacity: 1;
  }

  a {
    text-shadow: none;

    &:hover {
      opacity: 1;
      @apply text-white;
    }
  }

  @media (hover: none) {
    a {
      opacity: 1;
      color: theme('colors.yellow');

      &.cursor-not-allowed {
        color: theme('colors.gray.800');
      }
    }
  }
}
