.scroll-to-top {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.is-visible {
    opacity: 1;
  }

  a {
    &:focus,
    &:hover {
      opacity: 1;
      box-shadow: none;
      @apply text-white;
    }
  }
}

.page,
.single,
.archive {
  .scroll-to-top {
    @apply flex;

    a {
      &[title="back"] {
        display: none;
      }
    }
  }
}

.post-type-archive-positions {
  .scroll-to-top {
    @apply flex;

    a {
      &[title="back"] {
        display: flex;
      }
    }
  }
}
