body {
  &.category-rosa-channel {
    article {
      .entry-content {
        p:first-of-type {
          @apply hidden;
        }

        .button {
          @apply mt-4;
        }
      }
    }
  }
}
