[data-tippy-root] {
  pointer-events: auto !important;
  max-width: calc((100vw / 12 * 8));

  // make sure we have a column space on mobile
  //border-right: calc(100vw / 12) solid transparent;
  //border-left: calc(100vw / 12) solid transparent;

  @screen md {
    @apply border-0;

    max-width: calc((100vw / 12 * 3.25));
  }

  .tippy-box[data-theme~=light] {
    @apply shadow-default;
  }
}

.tippy {
  &-content {
    @apply p-0;
    @apply font-sans;
  }

  &__inner {
    @apply pb-4;
  }

  &__image {
    @apply w-full #{'!important'};
    @apply border-0;

    height: auto !important;
  }

  &__info,
  &__link {
    @apply m-2;
    @apply text-xxs;
    @apply font-light;
  }
}
