/*
FYI:  we need to define unicode-ranges for noe text on Firefox
      Otherwise
      we are missing out &nbsp; in french

      https://stackoverflow.com/questions/27744733/what-range-of-unicode-characters-should-be-kept-in-a-font-face-web-font-for-a-u
      https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/unicode-range

0020 — 007F     Basic Latin
00A0 — 00FF     Latin-1 Supplement
0100 — 017F     Latin Extended-A
0180 — 024F     Latin Extended-B
0250 — 02AF     IPA Extensions
02B0 — 02FF     Spacing Modifier Letters
0300 — 036F     Combining Diacritical Marks
27C0 — 27EF     Miscellaneous Mathematical Symbols-A
*/

/* we also replace the character &nbsp; on chrome browsers with a pt sans-serif character */
@font-face {
  font-family: 'nbsp';
  src: url("../fonts/ptSans.woff") format("woff");
  unicode-range: U+00A0;
}

/* Noe Display Regular */

/* Style linking */
@font-face {
  font-family: "Noe Display";
  font-weight: bold;
  src: url("../fonts/NoeDisplay-Bold.woff2") format("woff2"), url("../fonts/NoeDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-display: fallback;
  unicode-range: U+0021-00FF, U+00A0-00FF, U+0100-017F, U+0180-024F, U+02B0-02FF;
}

/* Noe Display Regular Italic */

/* style linking */
@font-face {
  font-family: "Noe Display";
  src: url("../fonts/NoeDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/NoeDisplay-RegularItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
  unicode-range: U+0021-00FF, U+00A0-00FF, U+0100-017F, U+0180-024F, U+02B0-02FF;
}

/* Noe Text Regular */

/* style linking */
@font-face {
  font-family: "Noe Text";
  src: url("../fonts/NoeText-Regular.woff2") format("woff2"), url("../fonts/NoeText-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  unicode-range: U+0021-00FF, U+00A0-00FF, U+0100-017F, U+0180-024F, U+02B0-02FF;
}

/* Noe Text Regular Italic */

/* style linking */
@font-face {
  font-family: "Noe Text";
  src: url("../fonts/NoeText-RegularItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
  unicode-range: U+0021-00FF, U+00A0-00FF, U+0100-017F, U+0180-024F, U+02B0-02FF;
}

/* Silka Regular */

/* style linking */
@font-face {
  font-family: "Silka";
  src: url("../fonts/Silka-Regular.woff2") format("woff2"), url("../fonts/Silka-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

/* Silka Light */

/* style linking */
@font-face {
  font-family: "Silka";
  src: url("../fonts/Silka-Light.woff2") format("woff2"), url("../fonts/Silka-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

/* Silka Bold */

/* style linking */
@font-face {
  font-family: "Silka";
  src: url("../fonts/Silka-Bold.woff2") format("woff2"), url("../fonts/Silka-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
