p,
a,
em,
b,
strong,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  &::selection {
    @apply bg-gray-800;
    @apply text-white;
  }
}

* {
  &::selection {
    @apply bg-transparent;
  }
}

img,
div {
  &::selection {
    @apply bg-transparent;
    @apply text-transparent;
  }
}
